.THIS {
}

.THIS .containerTable {
    margin-top: 300px !important;
}
.THIS .wrapper{
    height: 300px !important;
    width: 80% !important;
    background-color: powderblue !important;
}
.THIS .fsize {
    font-size: 140% !important;
}
.THIS .Headersize {
    font-size: 100% !important;
}