.THIS {
}
.THIS .centerTable
    {
       position: relative;
       height: 1px;
       background-color: #cd853f;
       margin-left: 51px;
       margin-top: -51px;
   }
.THIS .chair
    { 
    	display: inline-block;
        width: 24px;
    	height: 24px;
    	border: 1px dashed #060606;
    }

.THIS .firstDiv{
    
    position: relative;
    background-color: #cd853f;
    width: 1px;
    margin: 50px !important;
   
}
.THIS .thirdDiv{
  	position: relative;
    background-color: #cd853f;
    width: 1px;
    margin-top: -202px;
    
}
.THIS .firstDiv ul li {
    position: relative;
    left: -27px;
   
}
.THIS .thirdDiv ul li {
    position: relative;
    right: -4px;
   
}
.THIS .centerTable ul li {
    margin-left : 10px;
}
.THIS .orangeBox {
	color: rgb(0, 0, 0);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 8px;
    height: 7px;
    float: right;
    position: relative;
    bottom: 25px;
    cursor:pointer;
}
.THIS .bookedseat{
    background-color:#D5A69B !important;
}
.THIS .p{
     text-align: center;
    font-size: 10px;
}